{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-11 mx-auto">
        <h2 class="text-center">Edit bot</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="row justify-content-center">
                {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                    {{ error }}
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
                {% if simple_hedge_form.errors %}
                <div class="col-10 mx-auto alert alert-danger mt-2">
                    {% for field_errors in simple_hedge_form.errors.values %}
                    {% for error in field_errors %}
                    {{ error }}
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}

                <div class="card shadow col-12 col-xl-3 col-lg-5 p-3 m-2">
                    <h4 class="text-center">Main Settings</h4>

                    <br>
                    {{ form.account.label_tag }}
                    {{ form.account }}
                    {{ form.category.label_tag }}
                    {{ form.category }}
                    <br>
                    {{ form.symbol.label_tag }}
                    {{ form.symbol }}
                    <br>
                    {{ form.isLeverage.label_tag }}
                    {{ form.isLeverage }}
                    <br>
                    {{ form.margin_type.label_tag }}
                    {{ form.margin_type }}
                    <br>
                </div>
                <div class="card shadow col-12 col-xl-3 col-lg-5 p-3 m-2">
                    <h4 class="text-center">Step Hedge Settings</h4>
                    <br>
                    {{ step_hedge_form.short1invest.label_tag }}
                    {{ step_hedge_form.short1invest }}
                    {{ step_hedge_form.long1invest.label_tag }}
                    {{ step_hedge_form.long1invest }}
                    <br>
                    {{ step_hedge_form.tp_pnl_percent.label_tag }}
                    {{ step_hedge_form.tp_pnl_percent }}
                    <div class="row">
                        <div class="col-6">
                            {{ step_hedge_form.qty_steps.label_tag }}
                            {{ step_hedge_form.qty_steps }}
                        </div>
                        <div class="col-6">
                            {{ step_hedge_form.qty_steps_diff.label_tag }}
                            {{ step_hedge_form.qty_steps_diff }}
                        </div>
                    </div>
                    <button id="pnl_validation" class="btn btn-sm btn-danger disabled mt-2">(%PnL / Leverage) >= 0.5</button>
                    <button id="ticks_validation" class="btn btn-sm btn-danger disabled mt-1">(COUNT TICKS / TICKS DIFF) >= 5</button>

                </div>
                <div class="card shadow col-12 col-xl-3 col-lg-5 p-3 m-2">
                    {{ step_hedge_form.pnl_short_avg.label_tag }}
                    {{ step_hedge_form.pnl_short_avg }}
                    {{ step_hedge_form.pnl_long_avg.label_tag }}
                    {{ step_hedge_form.pnl_long_avg }}
                    <br>
                    {{ step_hedge_form.margin_short_avg.label_tag }}
                    {{ step_hedge_form.margin_short_avg }}
                    {{ step_hedge_form.margin_long_avg.label_tag }}
                    {{ step_hedge_form.margin_long_avg }}
                    <div class="form-check mt-2 p-1">
                        {{ step_hedge_form.add_tp }}
                    </div>
                    <br>
                    <div class="d-flex flex-row">
                        {{ step_hedge_form.is_nipple_active.label_tag }}
                        {{ step_hedge_form.is_nipple_active }}
                    </div>
                </div>
            </div>
            <div class="col-8 col-sm-5 col-mb-3 col-xl-3 mx-auto mb-5">
                <div class="row justify-content-center">
                    <button id="start-bot-button" type="submit" class="col-12 btn-shadow btn btn-success mt-3">Save Changes</button>
<!--                    <button type="submit" class="btn btn-success mt-3">Save and Start Bot</button>-->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal"
                            data-bs-target="#deleteBotModal">Delete Bot
                    </button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="deleteBotModal" tabindex="-1" aria-labelledby="stopBotModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteBotModalLabel">{{ bot.symbol }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>Choose way to delete:</h6>
                        </div>
                        <div class="modal-footer">
                            <a type="button"
                               href="{% url 'delete_bot' bot_id=bot.pk event_number=1 %}"
                               class="btn btn-warning col-12">Delete and stop bot only</a>
                            <a type="button"
                               href="{% url 'delete_bot' bot_id=bot.pk event_number=2 %}"
                               class="btn btn-warning col-12">Delete bot with cancel all orders</a>
                            <a type="button"
                               href="{% url 'delete_bot' bot_id=bot.pk event_number=3 %}"
                               class="btn btn-danger col-12">Delete bot with cancel all orders and drop position by
                                Market
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <h5 class="text-center">POSITIONS</h5>
        <hr>
        <br>
        <div class="row mb-5">
            {% if have_open_psn %}
            <div class="card shadow">
                <table class="table" style="vertical-align: middle">
                    <thead>
                    <tr class="">
                        <th>SIDE</th>
                        <th>SYMBOL</th>
                        <th class="d-none d-sm-table-cell">SIZE</th>
                        <th class="d-none d-sm-table-cell">ENTRY PRICE</th>
                        <th>MARK PRICE</th>
                        <th>LIQ PRICE</th>
                        <th class="d-none d-md-table-cell">MARGIN</th>
                        <th>UNREALIZED PNL</th>
                    </tr>
                    </thead>
                    {% for position in symbol_list %}
                    <tbody>
                    <tr class="">
                        <td>{{ position.side }}</td>
                        <td>{{ position.symbol }}</td>
                        <td>{{ position.size }}</td>
                        <td class="d-none d-sm-table-cell">{{ position.avgPrice }}</td>
                        <td>{{ position.markPrice }}</td>
                        <td>{{ position.liqPrice }}</td>
                        <td class="d-none d-md-table-cell">{{ position.positionBalance }}</td>
                        <td>{{ position.unrealisedPnl }}</td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <h5 class="text-center">Позиция не открыта</h5>
            {% endif %}
        </div>
        <h5 class="text-center">ORDER BOOK</h5>
        <a class="btn btn-secondary text-end" href="{% url 'create_order' bot_id=bot.pk %}">New order</a>
        <hr>
        <div class="row mb-5">
            {% if order_list %}
            <table class="table" style="vertical-align: middle">
                <thead style="background-color: #525252">
                <tr class="">
                    <th>SYMBOL</th>
                    <th class="d-none d-sm-table-cell">QTY</th>
                    <th class="d-none d-md-table-cell">PRICE</th>
                    <th class="d-none d-sm-table-cell">LEAVES QTY</th>
                    <th>TP/SL</th>
                    <th>SIDE</th>
                    <th>STATUS</th>
                    <th class="d-none d-sm-table-cell">TIME</th>
                    <th class="d-none d-sm-table-cell">CLOSE</th>
                </tr>
                </thead>
                <tbody style="background-color: #858585">
                {% for order in order_list %}
                <tr class="">
                    <td>{{ order.symbol }}</td>
                    <td class="d-none d-sm-table-cell">{{ order.qty }}</td>
                    <td class="d-none d-sm-table-cell">
                        {% if order.price != 0 %}{{ order.price }}
                        {% elif order.triggerPrice != 0 %}{{ order.triggerPrice }}{% endif %}
                    </td>
                    <td class="d-none d-sm-table-cell">{{ order.leavesQty }}</td>
                    <td class="d-none d-sm-table-cell">
                        {% if order.takeProfit == 0 or order.takeProfit == '' %}--
                        {% else %}{{ order.takeProfit }}{% endif %}/
                        {% if order.stopLoss == 0  or order.stopLoss == '' %}--
                        {% else %}{{ order.stopLoss }}{% endif %}
                    </td>
                    <td>{{ order.side }}</td>
                    <td>{{ order.orderStatus }}</td>
                    <td class="d-none d-sm-table-cell">{{ order.updatedTime }}</td>
                    <td class="d-none d-sm-table-cell"><a
                            href="{% url 'cancel_order' bot_id=bot.pk order_id=order.orderId %}"
                            class="btn btn-sm btn-outline-dark">Cancel</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h5 class="text-center">Нет открытых ордеров</h5>
            {% endif %}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const startBotButton = document.querySelector('#start-bot-button');
        const tpPnlPercentField = document.querySelector('#tp_pnl_percent');
        const isLeverageField = document.querySelector('#is_leverage');
        const qtyStepsField = document.querySelector('#qty_steps');
        const qtyStepsDiffField = document.querySelector('#qty_steps_diff');
        const isNippleActive = document.querySelector('#is_nipple_active');
        const pnlValidationCondition = document.querySelector('#pnl_validation');
        const ticksValidationCondition = document.querySelector('#ticks_validation');

        function checkConditions() {
            if (ticksValidationCondition.classList.contains('btn-success') && pnlValidationCondition.classList.contains('btn-success')) {
                startBotButton.removeAttribute('disabled');
            } else {
                startBotButton.setAttribute('disabled', 'disabled');
            }
        }

        function checkPnlConditions() {
            const isChecked = isNippleActive.checked;
            const tpPnlPercentValue = parseFloat(tpPnlPercentField.value.toString());
            const isLeverageValue = parseFloat(isLeverageField.value.toString());

            if (isChecked) {
                if (tpPnlPercentValue / isLeverageValue >= 0.5) {
                    pnlValidationCondition.classList.remove('btn-danger');
                    pnlValidationCondition.classList.add('btn-success');
                } else {
                    pnlValidationCondition.classList.remove('btn-success');
                    pnlValidationCondition.classList.add('btn-danger');
                }
                checkConditions();
            }
        }

        function checkTicksConditions() {
            const isChecked = isNippleActive.checked;
            const qtyStepsValue = parseFloat(qtyStepsField.value.toString());
            const qtyStepsDiffValue = parseFloat(qtyStepsDiffField.value.toString());

            if (isChecked) {
                if (qtyStepsValue / qtyStepsDiffValue >= 5) {
                    ticksValidationCondition.classList.remove('btn-danger');
                    ticksValidationCondition.classList.add('btn-success');
                } else {
                    ticksValidationCondition.classList.remove('btn-success');
                    ticksValidationCondition.classList.add('btn-danger');
                }
                checkConditions();
            }
        }

        function checkNipple() {
            const isChecked = isNippleActive.checked;

            if (isChecked) {
                startBotButton.setAttribute('disabled', 'disabled');
                pnlValidationCondition.removeAttribute('hidden');
                ticksValidationCondition.removeAttribute('hidden');
                checkPnlConditions();
                checkTicksConditions();
            } else {
                startBotButton.removeAttribute('disabled');
                pnlValidationCondition.setAttribute('hidden', 'hidden');
                ticksValidationCondition.setAttribute('hidden', 'hidden');
            }
        }

        // Начальная проверка условий при загрузке страницы
        checkPnlConditions();
        checkTicksConditions();
        checkNipple();

        // Следить за изменениями в полях и обновлять кнопку при необходимости
        tpPnlPercentField.addEventListener('change', checkPnlConditions);
        isLeverageField.addEventListener('change', checkPnlConditions);
        qtyStepsField.addEventListener('change', checkTicksConditions);
        qtyStepsDiffField.addEventListener('change', checkTicksConditions);
        isNippleActive.addEventListener('change', checkNipple);
    });
</script>

{% endblock %}

