{% extends 'base.html' %}

{% block content %}

<style>
    .btn-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

    .clickable-row:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}
</style>


{% if positions_list %}
<div class="container mt-3">
    <div class="card p-3">
        <table class="table" style="vertical-align: middle">
            <thead>
            <tr class="">
                <th>ACCOUNT</th>
                <th>BOT</th>
                <th>SIDE</th>
                <th>SYMBOL</th>
                <th class="d-none d-sm-table-cell">SIZE</th>
                <th class="d-none d-sm-table-cell">ENTRY PRICE</th>
                <th>MARK PRICE</th>
                <th class="d-none d-sm-table-cell">LIQ PRICE</th>
                <th class="d-none d-md-table-cell">MARGIN</th>
                <th>PNL</th>
                <th class="d-none d-md-table-cell" style="color: orange">COUNT</th>
            </tr>
            </thead>
            <tbody>
            {% for account, bot_id, symbol_list, count_dict, set0psn in positions_list %}
            <tr style="height: 70px;">
                <td>{{ account }}</td>
                <td>{{ bot_id }}</td>
                <td>{{ symbol_list.side }}</td>
                <td>{{ symbol_list.symbol }}</td>
                <td class="d-none d-sm-table-cell">{{ symbol_list.size }}</td>
                <td class="d-none d-sm-table-cell">{{ symbol_list.avgPrice }}</td>
                <td>{{ symbol_list.markPrice }}</td>
                <td class="d-none d-sm-table-cell">{{ symbol_list.liqPrice }}</td>
                <td class="d-none d-md-table-cell">{{ symbol_list.positionBalance }}</td>
                <td>{{ symbol_list.unrealisedPnl }}</td>
                {% if '-' in symbol_list.unrealisedPnl and not set0psn %}
                <td class="d-none d-md-table-cell">
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#countPosition{{ forloop.counter }}">Count
                    </button>
                    {% include 'positions/modal_count.html' %}
                </td>
                {% elif '-' in symbol_list.unrealisedPnl and set0psn %}
                <td class="d-none d-md-table-cell">
                    <a href="{% url 'stop_set_zero_psn_bot' acc_id=account.pk symbol_name=symbol_list.symbol %}"
                       class="btn btn-outline-warning">Stop Bot</a>
                </td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<h5 class="text-center mt-5">Открытых позиций нет</h5>
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const rows = document.querySelectorAll(".clickable-row");

        rows.forEach(row => {
            row.addEventListener("click", () => {
                const targetModalId = row.getAttribute("data-target");
                const forloopCounter = row.getAttribute("data-forloop");
                const key = row.getAttribute("data-trend");

            // Получение старых значений для перерасчета
                const accountId = row.getAttribute("data-accountId");
                const trend = row.getAttribute("data-trend");
                const symbolName = row.getAttribute("data-symbolName");

            // Отправка данных на сервер
                fetch("{% url 'recalculate_values' %}?accountId=" + encodeURIComponent(accountId) + "&trend=" + encodeURIComponent(trend) + "&symbolName=" + encodeURIComponent(symbolName), {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })

                .then(response => response.json())
                .then(data => {
                    const enoughBalance = data.enough_balance;
                    const startButton = document.getElementById(`btnStart${forloopCounter}_${key}`);
                    const notEnoughBalance = document.getElementById(`notEnoughBalance${forloopCounter}_${key}`);
                // Включаем кнопку и делаем её видимой
                    if (enoughBalance) {
                        startButton.classList.remove('disabled');
                        startButton.classList.remove('d-none');
                    } else {
                        notEnoughBalance.classList.remove('d-none');
                    }

                // Обновление значений в ячейках таблицы
                    const marginCells = document.querySelectorAll('[id^="marginCell"]');
                    const stopPriceCell = document.getElementById(`stopPriceCell${forloopCounter}_${key}`);
                    const pnlOldCell = document.getElementById(`pnlOldCell${forloopCounter}_${key}`);
                    const pnlNewCell = document.getElementById(`pnlNewCell${forloopCounter}_${key}`);
                    const walletBalance = document.getElementById(`walletBalance${forloopCounter}_${key}`);

                    marginCells.forEach(element => {
                        element.textContent = data.margin;
                    });
                    stopPriceCell.textContent = data.stop_price;
                    pnlOldCell.textContent = data.pnl_old;
                    pnlNewCell.textContent = data.pnl_new;
                    walletBalance.textContent = data.tb;
                })

                if (targetModalId) {
                    const currentModal = document.querySelector(".modal.show");
                    if (currentModal) {
                        const modal = bootstrap.Modal.getInstance(currentModal);
                        modal.hide();
                    }

                    const targetModal = document.querySelector(targetModalId);
                    if (targetModal) {
                        const modal = new bootstrap.Modal(targetModal);
                        modal.show();
                    }
                }
            });
        });

        document.querySelectorAll("[id^='backButton']").forEach(backButton => {
            backButton.addEventListener('click', function() {
                const currentModal = document.querySelector('.modal.show');
                    if (currentModal) {
                        const modal = bootstrap.Modal.getInstance(currentModal);
                        modal.hide();
                    }


                const targetModalId = backButton.getAttribute('data-target');
                const targetModal = document.querySelector(targetModalId);

                    if (targetModal) {
                        const modal = new bootstrap.Modal(targetModal);
                        modal.show();
                    }
            });
        });
    });
</script>


{% endblock %}
