{% extends 'base.html' %}

{% block content %}

<style>
    .btn-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
</style>

{% if positions_list %}
<div class="container mt-3">
    <div class="card p-3">
        <table class="table" style="vertical-align: middle">
            <thead>
            <tr class="">
                <th>ACCOUNT</th>
                <th>BOT</th>
                <th>SIDE</th>
                <th>SYMBOL</th>
                <th class="d-none d-sm-table-cell">SIZE</th>
                <th class="d-none d-sm-table-cell">ENTRY PRICE</th>
                <th>MARK PRICE</th>
                <th class="d-none d-sm-table-cell">LIQ PRICE</th>
                <th class="d-none d-md-table-cell">MARGIN</th>
                <th>PNL</th>
                <th class="d-none d-md-table-cell" style="color: orange">COUNT</th>
            </tr>
            </thead>
            <tbody>
            {% for account, bot_id, symbol_list, count_dict in positions_list %}
            <tr class="" style="height: 70px;">
                <td>{{ account }}</td>
                <td>{{ bot_id }}</td>
                <td>{{ symbol_list.side }}</td>
                <td>{{ symbol_list.symbol }}</td>
                <td class="d-none d-sm-table-cell">{{ symbol_list.size }}</td>
                <td class="d-none d-sm-table-cell">{{ symbol_list.avgPrice }}</td>
                <td>{{ symbol_list.markPrice }}</td>
                <td class="d-none d-sm-table-cell">{{ symbol_list.liqPrice }}</td>
                <td class="d-none d-md-table-cell">{{ symbol_list.positionBalance }}</td>
                <td>{{ symbol_list.unrealisedPnl }}</td>
                {% if '-' in symbol_list.unrealisedPnl %}
                <td class="d-none d-md-table-cell">
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#countPosition{{ forloop.counter }}">Count</button>
                    {% include 'positions/modal_count.html' %}
                </td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<h5 class="text-center mt-5">Открытых позиций нет</h5>
{% endif %}
{% endblock %}
