{% extends 'base.html' %}

{% block content %}

<style>
.card:hover {
  /* стили при наведении */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
}

</style>

<div class="row">
    <h1 class="mb-5">{{ title }}</h1>
    <div class="col-5 text-center">
        <a href="#"
           style="text-decoration: none; outline: none; color: inherit; min-height:200px" class="card shadow mb-3">
            <div class="card-header">
                <h2 class="">Bollinger Bands</h2>
            </div>
            <div class="card-body">
                {% if not bb_bots %}
                ---
                {% else %}
                <table class="table">
                    <thead>
                    <tr class=" text-center">
                        <th>Account</th>
                        <th>Symbol</th>
                        <th>Side</th>
                        <th>USDT$</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bot in bb_bots %}
                    <tr class="text-center">
                        <td>{{ bot.account }}</td>
                        <td>{{ bot.symbol }}</td>
                        <td>{{ bot.side }}</td>
                        <td>{{ bot.qty }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </a>
        <!--    </div>-->
        <!--    <div class="col-5 text-center">-->
        <a href="{% url 'hedge_grid_list' %}"
           style="text-decoration: none; outline: none; color: inherit; min-height:200px" class="card shadow">
            <div class="card-header">
                <h2 class="">Grid</h2>
            </div>
            <div class="card-body pb-2">
                {% if not grid_bots %}
                ---
                {% else %}
                <table class="table">
                    <thead>
                    <tr class=" text-center">
                        <th>Account</th>
                        <th>Symbol</th>
                        <th>Side</th>
                        <th>USDT$</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bot in grid_bots %}
                    <tr class="text-center">
                        <td>{{ bot.account }}</td>
                        <td>{{ bot.symbol }}</td>
                        <td>{{ bot.side }}</td>
                        <td>{{ bot.qty }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </a>
    </div>
</div>
{% endblock %}
