{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-11 mx-auto">
            <h1 class="text-center">BB Bots</h1>
        <a class="btn btn-success" href="{% url 'bb_create_bot' %}">Add new bot</a>
        <a class="btn btn-warning" href="{% url 'update_symbols_set' %}">Refresh coins</a>
        {% if message %}<div class="alert alert-success">{{ message }}</div>{% endif %}
        <div class="card mt-2 border-0 shadow p-3">
            <table class="table">
                <thead>
                <tr class=" text-center">
                    <th>Bot ID</th>
                    <th>Account</th>
                    <th>Symbol</th>
                    <th>Side</th>
<!--                    <th>Position Index</th>-->
                    <th>Order Type</th>
                    <th>USDT$</th>
<!--                    <th>Price</th>-->
                    <th>Is alive</th>
                    <th style="color: orange">Edit</th>
                    <th style="color: red">Stop</th>
<!--                    <th>Time In Force</th>-->
                </tr>
                </thead>
                <tbody>
                {% for bot, is_alive in bots %}
                <tr class="text-center">
                    <td>{{ bot.pk }}</td>
                    <td>{{ bot.account }}</td>
                    <td>{{ bot.symbol }}</td>
                    <td>{{ bot.side }}</td>
<!--                    <td>{{ order.positionIdx }}</td>-->
                    <td>{{ bot.orderType }}</td>
                    <td>{{ bot.qty }}</td>
<!--                    <td>{{ bot.price }}</td>-->
                    <td>{% if is_alive %}<i class="fa-solid fa-circle" style="color: #14c220;"></i>
                    {% else %}<i class="fa-solid fa-circle" style="color: #ff0000;"></i>{% endif %}</td>
                    <td><a class="btn btn-sm btn-warning" href="{% url 'bb_bot_detail' bot_id=bot.pk %}">Edit</a></td>
                    {% if is_alive %}<td>{% include 'modal_stop_bot.html' %}</td>
                    {% else %}<td><button class="btn btn-sm btn-danger" disabled>Stop</button></td>
                    {% endif %}
<!--                    <td>{{ order.timeInForce }}</td>-->
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}
