{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-6 mx-auto">
        <h2 class="text-center">Create {{ title }}</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                    {{ error }}
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="col-md-6 p-3">
                    {{ form.account.label_tag }}
                    {{ form.account }}
                    {{ form.symbol.label_tag }}
                    {{ form.symbol }}
                    {{ form.interval.label_tag }}
                    {{ form.interval }}
                    {{ form.isLeverage.label_tag }}
                    {{ form.isLeverage }}
                    {{ form.margin_type.label_tag }}
                    {{ form.margin_type }}
                </div>
                <div class="col-md-6 p-3">
                    {{ form.side.label_tag }}
                    {{ form.side }}
                    {{ form.orderType.label_tag }}
                    {{ form.orderType }}
                    {{ form.qty.label_tag }}
                    {{ form.qty }}
                    {{ form.qty_kline.label_tag }}
                    {{ form.qty_kline }}
                    {{ form.d.label_tag }}
                    {{ form.d }}
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-3">Start Bot</button>
        </form>
    </div>
</div>
{% endblock %}
