{% extends 'base.html' %}

{% block content %}
<style>
    .btn-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
</style>


<div class="row">
    <div class="col-11 mx-auto">
        <h2 class="text-center">{{ title }}</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="row justify-content-center">
                {% if bot_form.errors %}
                <div class="col-10 mx-auto alert alert-danger mt-2">
                    {% for field_errors in bot_form.errors.values %}
                    {% for error in field_errors %}
                    {{ error }}
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}

                {% if bb_form.errors %}
                <div class="col-10 mx-auto alert alert-danger mt-2">
                    {% for field_errors in bb_form.errors.values %}
                    {% for error in field_errors %}
                    {{ error }}
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}

                <div class="card shadow col-12 col-xl-2 col-lg-5 p-3 m-2">
                    <h4 class="text-center">Настройки бота</h4>

                    <br>
                    {{ bot_form.account.label_tag }}
                    {{ bot_form.account }}
                    <br>
                    {{ bot_form.symbol.label_tag }}
                    {{ bot_form.symbol }}
                    <br>
                    {{ bot_form.leverage.label_tag }}
                    {{ bot_form.leverage }}
                    <br>
                    <p>USDT:</p>
                    {{ bot_form.amount_long }}
                    <br>
                </div>
                <div class="card shadow col-12 col-xl-3 col-lg-5 p-3 m-2">
                    {{ bb_form.side.label_tag }}
                    {{ bb_form.side }}
                    <br>
                    {{ bb_form.interval.label_tag }}
                    {{ bb_form.interval }}
                    <br>
                    <div class="row">
                        <div class="col-6">
                            {{ bb_form.qty_kline.label_tag }}
                            {{ bb_form.qty_kline }}
                        </div>
                        <div class="col-6 mt-auto">
                            {{ bb_form.d.label_tag }}
                            {{ bb_form.d }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            {{ bb_form.is_deviation_from_lines.label_tag }}
                            <div class="d-inline mx-1">{{ bb_form.is_deviation_from_lines }}</div>
                        </div>
                        <div class="col-6 mt-auto">
                            {{ bb_form.percent_deviation_from_lines.label_tag }}
                            {{ bb_form.percent_deviation_from_lines }}
                        </div>
                    </div>
                    <hr>
<!--                    <h4 class="text-center">Profit Orders</h4>-->
                    <div class="d-inline">
                        {{ bb_form.take_on_ml.label_tag }}
                        <div class="d-inline mx-1">{{ bb_form.take_on_ml }}</div>
                        {{ bb_form.take_on_ml_percent.label_tag }}
                        {{ bb_form.take_on_ml_percent }}
                    </div>
<!--                    <br>-->
<!--                    {{ form.grid_avg_value.label_tag }}-->
<!--                    {{ form.grid_avg_value }}-->
<!--                    <hr>-->
<!--                    <h4 class="text-center">Bollinger Bands Settings</h4>-->
<!--                    {{ form.qty_kline.label_tag }}-->
<!--                    {{ form.qty_kline }}-->
<!--                    {{ form.d.label_tag }}-->
<!--                    {{ form.d }}-->
                </div>
                <div class="card shadow col-12 col-xl-3 col-lg-5 p-3 m-2">
                    <h4 class="text-center">Усреднение</h4>
                    <br>
                    <div class="d-inline">
                        <p class="d-inline">{{ bb_form.auto_avg.label_tag }}</p>
                        {{ bb_form.auto_avg }} %:
                    </div>
                    {{ bb_form.avg_percent }}
                    <br>

<!--                    {{ bb_form.dfep.label_tag }}-->
<!--                    {{ bb_form.dfep }}-->
                    <div class="row">
                        <div class="col-6">
                    {{ bb_form.dfm.label_tag }}
                    {{ bb_form.dfm }}
                        </div>
                        <div class="col-6">
                    {{ bb_form.chw.label_tag }}
                    {{ bb_form.chw }}
                        </div>
                    </div>
                    {{ bb_form.max_margin.label_tag }}
                    {{ bb_form.max_margin }}
                    <br>
                </div>
            </div>
            <div class="col-5 col-sm-3 mx-auto mb-5">
            <button type="submit" class="col-12 btn-shadow btn btn-success mt-3">Start Bot</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
