<div class="row">
    <div class="col-12 mx-auto">
        <h2 class="text-center">Настройки Бота</h2>
        <p>{{ bot_cached_data }}</p>

        {% if bot.botsdata %}
            <p>Кол-во циклов: {{ bot.botsdata.count_cycles }}</p>
            <p>Тотал Pnl: {{ bot.botsdata.total_pnl }}</p>
            <p>Pnl за каждый цикл: {{ bot.botsdata.cycle_pnl_dict }}</p>
        {% else %}
            <p>Нет данных</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="row justify-content-center">
                {% if bot_form.errors %}
                <div class="col-10 mx-auto alert alert-danger mt-2">
                    {% for field_name, field_errors in bot_form.errors.items %}
                        <div class="error">
                            <strong>{{ field_name }}:</strong>
                            <ul>
                                {% for error in field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if bb_form.errors %}
                <div class="col-10 mx-auto alert alert-danger mt-2">
                    {% for field_name, field_errors in bb_form.errors.items %}
                        <div class="error">
                            <strong>{{ field_name }}:</strong>
                            <ul>
                                {% for error in field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="card shadow col-12 col-xl-2 col-lg-5 p-3 m-2">
                    <h4 class="text-center">Настройки бота</h4>

                    <br>
                    {{ bot_form.account.label_tag }}
                    <input type="text" class="form-control" name="account" value="{{ account }}" readonly disabled>
<!--                    {{ bot_form.account }}-->
                    <br>
                    {{ bot_form.symbol.label_tag }}
                    <input type="text" class="form-control" name="symbol" value="{{ symbol }}" readonly disabled>
<!--                    {{ bot_form.symbol }}-->
                    <br>
                    {{ bot_form.leverage.label_tag }}
                    {{ bot_form.leverage }}
                    <br>
                    <p>USDT:</p>
                    {{ bot_form.amount_long }}
                    <br>
                </div>
                <div class="card shadow col-12 col-xl-3 col-lg-5 p-3 m-2">
                    <div class="d-inline">
                        <p class="d-inline">{{ bb_form.endless_cycle.label_tag }}</p>
                        {{ bb_form.endless_cycle }}
                    </div>
                    <br>
                    {{ bb_form.side.label_tag }}
                    {{ bb_form.side }}
                    <br>
                    {{ bb_form.interval.label_tag }}
                    {{ bb_form.interval }}
                    <br>
                    <div class="row">
                        <div class="col-6">
                            {{ bb_form.qty_kline.label_tag }}
                            {{ bb_form.qty_kline }}
                        </div>
                        <div class="col-6 mt-auto">
                            {{ bb_form.d.label_tag }}
                            {{ bb_form.d }}
                        </div>
                    </div>
                    <br>
<!--                    <div class="row">-->
<!--                        <div class="col-6">-->
<!--                            {{ bb_form.is_deviation_from_lines.label_tag }}-->
<!--                            <div class="d-inline mx-1">{{ bb_form.is_deviation_from_lines }}</div>-->
<!--                        </div>-->
<!--                        <div class="col-6 mt-auto">-->
<!--                            {{ bb_form.percent_deviation_from_lines.label_tag }}-->
<!--                            {{ bb_form.percent_deviation_from_lines }}-->
<!--                        </div>-->
<!--                    </div>-->
                    <hr>
                    <div class="d-inline">
                        {{ bb_form.take_on_ml.label_tag }}
                        <div class="d-inline mx-1">{{ bb_form.take_on_ml }}</div>
                        {{ bb_form.take_after_ml.label_tag }}
                        <div class="d-inline mx-1">{{ bb_form.take_after_ml }}</div>
                        {{ bb_form.take_on_ml_percent.label_tag }}
                        {{ bb_form.take_on_ml_percent }}
                    </div>
                </div>

                <div class="card shadow col-12 col-xl-3 col-lg-5 p-3 m-2">
                    <h4 class="text-center">Усреднение</h4>
                    <br>
                    <div class="d-inline">
                        <p class="d-inline">{{ bb_form.auto_avg.label_tag }}</p>
                        {{ bb_form.auto_avg }} %:
                    </div>
                    {{ bb_form.avg_percent }}
                    <br>

                    <div class="row">
                        <div class="col-6">
                    {{ bb_form.dfm.label_tag }}
                    {{ bb_form.dfm }}
                        </div>
                        <div class="col-6">
                    {{ bb_form.chw.label_tag }}
                    {{ bb_form.chw }}
                        </div>
                    </div>
                    <hr>

                    <div class="d-inline">
                        <p class="d-inline">{{ bb_form.hard_avg.label_tag }}</p>
                        {{ bb_form.hard_avg }}
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ bb_form.hard_avg_type.label_tag }}
                            {{ bb_form.hard_avg_type }}
                        </div>
                        <div class="col-6">
                            {{ bb_form.hard_avg_percent.label_tag }}
                            {{ bb_form.hard_avg_percent }}
                        </div>
                    </div>
                    <hr>

                    {{ bb_form.max_margin.label_tag }}
                    {{ bb_form.max_margin }}
                    <br>
                </div>
                <div class="card shadow col-12 col-xl-3 col-lg-5 p-3 m-2">
                    <h6 class="text-center">Stop loss</h6>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <p class="d-inline">{{ bb_form.stop_loss.label_tag }}</p>
                            {{ bb_form.stop_loss }}
                        </div>
<!--                        <div class="col-6">-->
<!--                            <p class="d-inline">{{ bb_form.stop_bot_after_loss.label_tag }}</p>-->
<!--                            {{ bb_form.stop_bot_after_loss }}-->
<!--                        </div>-->
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            {{ bb_form.stop_loss_value.label_tag }}
                            {{ bb_form.stop_loss_value }}
                        </div>
                        <div class="col-6">
                            {{ bb_form.stop_loss_value_choice.label_tag }}
                            {{ bb_form.stop_loss_value_choice }}
                        </div>
                    </div>
<!--                    {{ bb_form.stop_loss_value }}-->
<!--                    {{ bb_form.stop_loss_value_choice }}-->
                    <hr>
                    <h6 class="text-center">Вход за линией</h6>

                    <div class="d-inline">
                        <p class="d-inline">{{ bb_form.is_deviation_from_lines.label_tag }}</p>
                        {{ bb_form.is_deviation_from_lines }}
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ bb_form.percent_deviation_from_lines }}
                        </div>
                        <div class="col-6 mt-auto">
                            {{ bb_form.percent_deviation_from_lines.label_tag }}
                        </div>
                    </div>
                    <hr>

                    <h6 class="text-center">Трейлинги</h6>
                    <div class="row">
                        <div class="col-6">
                            {{ bb_form.trailing_in.label_tag }}
                            {{ bb_form.trailing_in }}
                        </div>
                        <div class="col-6">
                            {{ bb_form.trailing_out.label_tag }}
                            {{ bb_form.trailing_out }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ bb_form.trailing_in_percent }}
                        </div>
                        <div class="col-6">
                            {{ bb_form.trailing_out_percent }}
                        </div>
                    </div>

                    <br>
                </div>

            </div>
            <div class="col-8 col-sm-5 col-mb-3 col-xl-3 mx-auto mb-5">
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-success mt-3">Сохранить</button>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal"
                            data-bs-target="#deleteBotModal">Удалить бота
                    </button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="deleteBotModal" tabindex="-1" aria-labelledby="stopBotModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteBotModalLabel">{{ bot.symbol }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>Выберите вариант удаления:</h6>
                        </div>
                        <div class="modal-footer">
                            <a type="button"
                               href="{% url 'delete_bot' bot_id=bot.pk event_number=1 %}"
                               class="btn btn-warning col-12">Удалить бота</a>
                            <a type="button"
                               href="{% url 'delete_bot' bot_id=bot.pk event_number=2 %}"
                               class="btn btn-warning col-12">Удалить бота и отменить ордера</a>
<!--                            <a type="button"-->
<!--                               href="{% url 'delete_bot' bot_id=bot.pk event_number=3 %}"-->
<!--                               class="btn btn-danger col-12">Delete bot with cancel all orders and drop position by-->
<!--                                Market-->
<!--                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>