
<h5 class="text-center">Усреднение</h5>
<form method="POST" action="{% url 'zinger_manual_average' bot_id=bot.id %}" class="text-light">
    {% csrf_token %}

    <div class="row p-1">
        <div class="col mt-auto">
            {{ average_form.qty.label_tag }}
            {{ average_form.qty }}
        </div>

        <div class="col mt-auto">
            {{ average_form.nominal }}
        </div>

        <div class="col mt-auto">
            {{ average_form.price.label_tag }}
            {{ average_form.price }}
        </div>
        <div class="col mt-auto">
            {{ average_form.type.label_tag }}
            {{ average_form.type }}
        </div>

        <div class="col mt-auto">
            {{ average_form.psnSide.label_tag }}
            {{ average_form.psnSide }}
        </div>

        <div class="col mt-auto">
            <button type="submit" class="btn btn-secondary">Усреднить</button>
        </div>
    </div>
</form>