<div class="row">
    <div class="col-12 mx-auto">
        <h2 class="text-center">Настройки Бота</h2>
        <p>{{ bot_cached_data }}</p><hr>
        <form method="POST">
            {% csrf_token %}
            <div class="row justify-content-center">

                <!-- Вывод ошибок формы -->
                {% if bot_form.errors %}
                <div class="col-10 mx-auto alert alert-danger mt-2">
                    {% for field_name, field_errors in bot_form.errors.items %}
                        <div class="error">
                            <strong>{{ field_name }}:</strong>
                            <ul>
                                {% for error in field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                <!-- Вывод ошибок формы -->
                {% if zinger_form.errors %}
                <div class="col-10 mx-auto alert alert-danger mt-2">
                    {% for field_name, field_errors in zinger_form.errors.items %}
                        <div class="error">
                            <strong>{{ field_name }}:</strong>
                            <ul>
                                {% for error in field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="card shadow col-12 col-xl-2 col-lg-5 p-3 m-2">
                    <h4 class="text-center">Настройки бота</h4>

                    <br>
                    {{ bot_form.account.label_tag }}
                    <input type="text" class="form-control" name="account" value="{{ account }}" readonly disabled>
<!--                    {{ bot_form.account }}-->
                    <br>
                    {{ bot_form.symbol.label_tag }}
                    <input type="text" class="form-control" name="symbol" value="{{ symbol }}" readonly disabled>
<!--                    {{ bot_form.symbol }}-->
                    <br>
                    {{ bot_form.leverage.label_tag }}
                    {{ bot_form.leverage }}
                    <br>
                    <div class="row">
                        <div class="col-6">
                            {{ bot_form.amount_long.label_tag }}
                            {{ bot_form.amount_long }}
                        </div>
                        <div class="col-6 mt-auto">
                            {{ bot_form.amount_short.label_tag }}
                            {{ bot_form.amount_short }}
                        </div>
                    </div>
                    <br>
                </div>
                <div class="card shadow col-12 col-xl-3 col-lg-5 p-3 m-2">
                    {{ zinger_form.side.label_tag }}
                    {{ zinger_form.side }}
                    <br>
                    {{ zinger_form.interval.label_tag }}
                    {{ zinger_form.interval }}
                    <br>
                    <div class="row">
                        <div class="col-6">
                            {{ zinger_form.tp_pnl_percent_long.label_tag }}
                            {{ zinger_form.tp_pnl_percent_long }}
                        </div>
                        <div class="col-6 mt-auto">
                            {{ zinger_form.tp_pnl_percent_short.label_tag }}
                            {{ zinger_form.tp_pnl_percent_short }}
                        </div>
                    </div>
                    <br>
                    {{ zinger_form.income_percent.label_tag }}
                    {{ zinger_form.income_percent }}
                    <br>
                    <br>
                    <div class="d-inline">
                        <p class="d-inline">{{ zinger_form.is_nipple_active.label_tag }}</p>
                        {{ zinger_form.is_nipple_active }}
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ zinger_form.qty_steps.label_tag }}
                            {{ zinger_form.qty_steps }}
                        </div>
<!--                        <div class="col-6 mt-auto">-->
<!--                            {{ zinger_form.qty_steps_diff.label_tag }}-->
<!--                            {{ zinger_form.qty_steps_diff }}-->
<!--                        </div>-->
                    </div>
                    <br>
                    <div class="d-inline">
                        <p class="d-inline">{{ zinger_form.tp_trailing.label_tag }}</p>
                        {{ zinger_form.tp_trailing }}
                    </div>
                    {{ zinger_form.tp_trailing_percent.label_tag }}
                    {{ zinger_form.tp_trailing_percent }}
                    <!--                    <h4 class="text-center">Profit Orders</h4>-->
                    <!--                    <div class="d-inline">-->
                    <!--                        {{ zinger_form.take_on_ml.label_tag }}-->
                    <!--                        <div class="d-inline mx-1">{{ zinger_form.take_on_ml }}</div>-->
                    <!--                        {{ zinger_form.take_on_ml_percent.label_tag }}-->
                    <!--                        {{ zinger_form.take_on_ml_percent }}-->
                    <!--                    </div>-->
                    <!--                    <br>-->
                    <!--                    {{ form.grid_avg_value.label_tag }}-->
                    <!--                    {{ form.grid_avg_value }}-->
                    <!--                    <hr>-->
                    <!--                    <h4 class="text-center">Bollinger Bands Settings</h4>-->
                    <!--                    {{ form.qty_kline.label_tag }}-->
                    <!--                    {{ form.qty_kline }}-->
                    <!--                    {{ form.d.label_tag }}-->
                    <!--                    {{ form.d }}-->
                </div>

                <div class="card shadow col-12 col-xl-3 col-lg-5 p-3 m-2">
                    <h5 class="text-center">Реинвест</h5>
                    <br>
                    <div class="d-inline">
                        {{ zinger_form.reinvest_long }}
                        <p class="d-inline">{{ zinger_form.reinvest_long.label_tag }}</p>
                    </div>
                    <div class="d-inline">
                        {{ zinger_form.reinvest_short }}
                        <p class="d-inline">{{ zinger_form.reinvest_short.label_tag }}</p>
                    </div>
                    <div class="d-inline">
                        {{ zinger_form.reinvest_with_leverage }}
                        <p class="d-inline">{{ zinger_form.reinvest_with_leverage.label_tag }}</p>
                    </div>
                    {{ zinger_form.reinvest_count_ticks.label_tag }}
                    {{ zinger_form.reinvest_count_ticks }}
                    <hr>
                </div>

                <div class="col-8 col-sm-5 col-mb-3 col-xl-3 mx-auto mb-5">
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-success mt-3">Сохранить</button>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal"
                                data-bs-target="#deleteBotModal">Удалить бота
                        </button>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="deleteBotModal" tabindex="-1" aria-labelledby="stopBotModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteBotModalLabel">{{ bot.symbol }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h6>Выберите вариант удаления:</h6>
                            </div>
                            <div class="modal-footer">
                                <a type="button"
                                   href="{% url 'delete_bot' bot_id=bot.pk event_number=1 %}"
                                   class="btn btn-warning col-12">Удалить бота</a>
                                <a type="button"
                                   href="{% url 'delete_bot' bot_id=bot.pk event_number=2 %}"
                                   class="btn btn-warning col-12">Удалить бота и отменить ордера</a>
<!--                                <a type="button"-->
<!--                                   href="{% url 'delete_bot' bot_id=bot.pk event_number=3 %}"-->
<!--                                   class="btn btn-danger col-12">Delete bot with cancel all orders and drop position by-->
<!--                                    Market-->
<!--                                </a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-8 mx-auto">
                {% include 'zinger/average_form.html' %}
            </div>
        </div>
    </div>
</div>