{% extends 'base.html' %}

{% block content %}

<style>
    .btn-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
</style>

<div class="row">
    <div class="col-md-12 col-xxl-4 m-1">
        <p class="m-0 p-0">Ваш статус: {% if status %}Подключен{% else %}Не подключен{% endif %}</p>
        {% if status %}
        <div class="row">
            <div class="col-12 mb-1">
                <a href="{% url 'delete_tg_acc' %}" class="btn btn-danger btn-shadow mt-5">Отключить телеграм бота</a>
            </div>
            <div class="col-12">
                <a href="{% url 'say_hello' %}" class="btn btn-secondary btn-shadow">Сказать "Привет"</a>
            </div>
        </div>
        {% else %}
        <a href="{% url 'telegram_add_account' %}" class="btn btn-primary btn-shadow mt-5">Подключить телеграм бота</a>
        {% endif %}
    </div>
    {% if active_users %}
    <div class="col-md-12 col-xl-4 p-3">
        <h4 class="text-center">Список подключенных пользователей</h4>
        <br>
        <table class="table" style="vertical-align: middle">
            <thead>
            <tr class="">
                <th>Username</th>
                <th>Activate</th>
            </tr>
            </thead>
            <tbody>
            {% for user in active_users %}
            <tr class="">
                <td>{{ user.owner }}</td>
                <td> ---</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
