{% extends 'base.html' %}

{% block content %}

<style>
    .btn-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
</style>

<div class="container">
    <div class="row text-end">
        <div class="col-11">
            <h1 class="text-center">Аккаунты</h1>
            <a href="{% url 'whitelist' %}" class="btn btn-outline-primary btn-shadow border-0">Адресная книга</a>
            <a href="{% url 'create_account' %}" class="btn btn-primary btn-shadow border-0">Добавить аккаунт</a>
            <div class="card mt-2 border-0 shadow p-3">
                <table class="table" style="vertical-align: middle">
                    <thead>
                    <tr class=" text-center">
                        <th></th>
                        <th>Имя аккаунта</th>
                        <th class="d-none d-sm-table-cell">Биржа</th>
                        <th class="d-none d-sm-table-cell">Сеть</th>
                        <th>Баланс</th>
                        <th>Перевод</th>
                        <th>Вывод</th>
                        <th style="color: orange">Редактировать</th>
                        <th style="color: red">Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for account, status_ws_conn in accounts %}
                    <tr class=" text-center">
                        <td>
                            {% if status_ws_conn %}
                                <i class="fa-solid fa-circle" style="color: #00c227;"></i>
                            {% else %}
                                <i class="fa-solid fa-circle" style="color: #c20000;"></i>
                            {% endif %}
                        </td>
                        <td>{{ account.name }}</td>
                        <td>{{ account.service }}</td>
                        <td class="d-none d-sm-table-cell">
                            {% if account.is_mainnet %}Основная{% else %}Тестовая{% endif %}
                        </td>
                        <td>
                            <button id="{{ account.pk }}"
                                    class="get-balance-button btn btn-sm btn-light px-3 btn-shadow"><i class="fa-solid fa-wallet" style="color: #74C0FC;"></i>
                            </button>
                            <!-- Модальное окно для отображения баланса аккаунта -->
                            <div class="modal" id="balanceModal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title mx-auto">Баланс аккаунта "<span
                                                    id="accountPkPlaceholder"></span>"</h5>
                                        </div>
                                        <div class="modal-body text-center">
                                            <p id="balanceInfo">Загрузка...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            {% include 'account/modal_internal_transfer.html' %}
                        </td>
                        <td>
                            <a href="{% url 'withdraw' acc_id=account.pk %}" class="btn btn-sm btn-outline-success btn-shadow border-0"><i class="fa-solid fa-reply-all mx-2"></i></a>
                        </td>

                        <!--                        <td class="border">{{ tb }}</td>-->
                        <td><a class="btn btn-sm btn-warning px-3 btn-shadow"
                               href="{% url 'edit_account' acc_id=account.pk %}">Редактировать</a>
                        </td>
                        <td>{% include 'account/delete_account_modal.html' %}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    const buttons = document.querySelectorAll('.get-balance-button');
    buttons.forEach(button => {
      button.addEventListener('click', () => {
        const accountId = button.id;
        fetch(`/accounts/get_balance/${accountId}/`)
          .then(response => response.json())
          .then(data => {
            const modalTitle = document.getElementById('accountPkPlaceholder');
            const balanceInfo = document.getElementById('balanceInfo');
            const accountName = data.name;
            modalTitle.textContent = accountName;
            balanceInfo.innerHTML = `Баланс кошелька: <strong>${data.wb}</strong> USDT<br>Доступный баланс: <strong>${data.tb}</strong> USDT<br>Нереализованный PnL: <strong>${data.unrealizedPnl}</strong> USDT`;
            const balanceModal = new bootstrap.Modal(document.getElementById('balanceModal'));
            balanceModal.show();
          })
          .catch(error => {
            console.error("Ошибка при получении баланса:", error);
          });
      });
    });
</script>

<script>
    const transferButtons = document.querySelectorAll('.internal-transfer-btn');
    transferButtons.forEach(transferButton => {
      transferButton.addEventListener('click', () => {
        const transferAccountId = transferButton.id.replace(/\D/g, '');
        fetch(`/accounts/get_account_assets/${transferAccountId}/`)
            .then(response => response.json())
            .then(data => {
                const fundBalance = data.fund_balance;
                const futuresBalance = data.futures_balance;
                const fundBalanceElement = document.querySelector(`#fundBalance${transferAccountId}`);
                const futuresBalanceElement = document.querySelector(`#futuresBalance${transferAccountId}`);
                if (fundBalanceElement && futuresBalanceElement) {
                    fundBalanceElement.textContent = fundBalance;
                    futuresBalanceElement.textContent = futuresBalance;
                }
            })
            .catch(error => {
                console.error('Error fetching balance:', error);
            });
        });
    });
</script>
{% endblock %}