{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 mx-auto p-4 col-sm-8 col-lg-6">
        <h2 class="text-center">Создание аккаунта</h2>
            <br>
        <form method="POST">
            {% csrf_token %}

            <div class="row">
                <div class="col-6">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                <div class="col-6">
                    {{ form.service.label_tag }}
                    {{ form.service }}
                </div>
            </div>
            <br>
            {{ form.address.label_tag }}
            {{ form.address }}
            <br>
            {{ form.API_TOKEN.label_tag }}
            {{ form.API_TOKEN }}
            <br>
            {{ form.SECRET_KEY.label_tag }}
            {{ form.SECRET_KEY }}
            <br>
            {{ form.is_mainnet.label_tag }}
            {{ form.is_mainnet }}
            <div class="row">
                <div class="col-6 mx-auto">
                    <p class="text-center p-0 m-0">{{ form.account_type.label_tag }}</p>
                    {{ form.account_type }}
                </div>
            </div>

            <button type="submit" class="btn btn-success mt-3">Создать</button>
        </form>
    </div>
</div>
{% endblock %}
