<!-- Button trigger modal -->
<button type="button" class="btn btn-sm btn-danger btn-shadow" data-bs-toggle="modal" data-bs-target="#deleteAccountModal{{ account.pk }}">
    Delete
</button>

<!-- Modal -->
<div class="modal fade" id="deleteAccountModal{{ account.pk }}" tabindex="-1" aria-labelledby="deleteAccountModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteAccountModalLabel">{{ account.name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Are you sure?</h6>
            </div>
            <div class="modal-footer">
                <a type="button" href="{% url 'delete_account' acc_id=account.pk %}"
                   class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>