<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addWhitelistModal">
    Добавить адрес
</button>

<!-- Modal -->
<div class="modal fade" id="addWhitelistModal" tabindex="-1" aria-labelledby="whitelistModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="whitelistModalLabel">Добавление аккаунта</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="POST">
                {% csrf_token %}

                <div class="modal-body">
                    {{ form.note.label_tag }}
                    {{ form.note }}
                    <br>
                    {{ form.address.label_tag }}
                    {{ form.address }}
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Добавить</button>
                </div>

            </form>
        </div>
    </div>
</div>
