<!--{% load static %}-->

<!--<footer class="mt-auto text-center text-white" style="opacity: 1; position: relative;">-->
<!--  &lt;!&ndash; Grid container &ndash;&gt;-->
<!--  <div class="container pt-0" style="">-->
<!--    &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--    <section class="mb-1">-->

<!--      &lt;!&ndash; Whatsapp &ndash;&gt;-->
<!--      <a-->
<!--        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--        href="https://api.whatsapp.com/send?phone=79518023613"-->
<!--        role="button"-->
<!--        data-mdb-ripple-color="dark"-->
<!--        ><i class="fab fa-whatsapp" style="color: #615676"></i-->
<!--      ></a>-->

<!--      &lt;!&ndash; Vk &ndash;&gt;-->
<!--      <a-->
<!--        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--        href="https://vk.com/risk96"-->
<!--        role="button"-->
<!--        data-mdb-ripple-color="dark"-->
<!--        ><i class="fab fa-vk" style="color: #615676"></i-->
<!--      ></a>-->

<!--      &lt;!&ndash; Google &ndash;&gt;-->
<!--      <a-->
<!--        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--        href="mailto:shotfinder.ps@webref.ru"-->
<!--        role="button"-->
<!--        data-mdb-ripple-color="dark"-->
<!--        ><i class="fab fa-google" style="color: #615676"></i-->
<!--      ></a>-->

<!--      &lt;!&ndash; Instagram &ndash;&gt;-->
<!--      <a-->
<!--        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--        href="https://www.instagram.com/point_crash/"-->
<!--        role="button"-->
<!--        data-mdb-ripple-color="dark"-->
<!--        ><i class="fab fa-instagram" style="color: #615676"></i-->
<!--      ></a>-->

<!--      &lt;!&ndash; Telegram &ndash;&gt;-->
<!--      <a-->
<!--        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--        href="https://t.me/pointcrash"-->
<!--        role="button"-->
<!--        data-mdb-ripple-color="dark"-->
<!--        ><i class="fab fa-telegram" style="color: #615676"></i-->
<!--      ></a>-->

<!--    </section>-->
<!--    &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; Grid container &ndash;&gt;-->

<!--  &lt;!&ndash; Copyright &ndash;&gt;-->
<!--  <div class="row text-dark p-3">-->
<!--    <div class="col-4 text-start">-->
<!--    </div>-->
<!--    <div class="col-4 text-center">-->
<!--      <strong class="opacity-75">-->
<!--      Обратная связь-->
<!--      </strong>-->
<!--    </div>-->
<!--    <div class="col-4 text-end">-->
<!--    © 2023 Copyright: Голубников Роман, Inc.-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash; Copyright &ndash;&gt;-->
<!--</footer>-->