{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">Список ордеров</h1>
            <a href="{% url 'create_order' %}">Create order</a>
            <div class="card mt-4">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Category</th>
                        <th>Symbol</th>
                        <th>Side</th>
                        <th>Position Index</th>
                        <th>Order Type</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Time In Force</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.pk }}</td>
                        <td>{{ order.category }}</td>
                        <td>{{ order.symbol }}</td>
                        <td>{{ order.side }}</td>
                        <td>{{ order.positionIdx }}</td>
                        <td>{{ order.orderType }}</td>
                        <td>{{ order.qty }}</td>
                        <td>{{ order.price }}</td>
                        <td>{{ order.timeInForce }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
