{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Logs</h1>
            <h5 class="text-center text-muted">Bot {{ bot }}</h5>
            {% if bot.work_model == 'bb' %}
            <a href="#" class="btn btn-warning">Edit Bot</a>
            {% else %}
            <a href="{% url 'single_bot_detail' bot_id=bot.pk %}" class="btn btn-warning">Edit Bot</a>
            {% endif %}

            <a href="{% url 'logs_delete' bot_id=bot.pk %}" class="btn btn-outline-danger">Clear history</a>
            <div class="card mt-4">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Logs ID</th>
                        <th>Content</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log_id, log in log_list|slice:'-1::-1' %}
                    <tr>
                        <td>{{ log_id }}</td>
                        <td>{{ log.content }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
