{% load static %}

<nav class="navbar navbar-expand-lg" style=" z-index: 100;">
    <div class="container-fluid">
        <a style="opacity: 0.6;" class="navbar-brand col-951" href="#">ByBitBots</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse rounded" id="navbarSupportedContent" style="background-color: #f6f8f8; opacity: 0.95;">
            <ul class="navbar-nav me-auto m-2 text-center mb-lg-0">
                <li class="nav-item" style="opacity: 0.6;">
<!--                    <a class="nav-link col-951" href="{% url 'home' %}">Orders</a>-->
                </li>

            </ul>

            {% if user.is_authenticated %}
            <ul class="navbar-nav ms-auto text-center mb-2 mb-lg-0">
                <li class="nav-item">
                    <a style="opacity: 0.6;" class="nav-link active" aria-current="page" href="#">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a style="opacity: 0.6;" class="nav-link active" aria-current="page" href="#">Выйти</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ms-auto m-2 text-center mb-lg-0">
                <li class="nav-item">
                    <a style="opacity: 0.6;" class="nav-link" href="#">Регистрация</a>
                </li>
                <li class="nav-item" style="opacity: 0.6;">
                    <a class="nav-link active" aria-current="page" href="#">Войти</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>